{% extends 'base.html' %}

{% block section %}
<section id="home">
    <div class="about-content">
        <div class="about-text">
            <h1>О нас</h1>
            <p>
                Мы - креативная команда профессионалов, специализирующаяся на создании уникальных и инновационных решений в области [ваша область деятельности]. Наша цель - помогать нашим клиентам достигать своих целей и реализовывать свои идеи, обеспечивая при этом высокий уровень сервиса и качества.
            </p>
            <p>
                Мы стремимся быть лидерами в нашей области, поэтому постоянно совершенствуем наши навыки, следим за последними тенденциями и развиваем инновационные подходы к решению задач. Наш опыт и экспертиза позволяют нам предоставлять клиентам продукты и услуги высочайшего качества.
            </p>
            <p>
                Мы гордимся нашей работой и стремимся устанавливать долгосрочные отношения с каждым из наших клиентов. Мы благодарны за доверие, которое они нам оказывают, и всегда готовы идти на встречу и удовлетворять их потребности.
            </p>
            <h2>Наши ценности</h2>
            <ul>
                <li><strong>Профессионализм:</strong> Мы делаем свою работу качественно и профессионально, стремясь к самому лучшему результату для наших клиентов.</li>
                <li><strong>Инновации:</strong> Мы постоянно развиваемся и внедряем новые технологии и методы работы, чтобы быть на шаг впереди.</li>
                <li><strong>Ответственность:</strong> Мы берем на себя ответственность за свои действия и результаты нашей работы.</li>
                <li><strong>Клиентоориентированность:</strong> Мы всегда слушаем потребности и пожелания наших клиентов, стремясь их удовлетворить.</li>
            </ul>
        </div>
        <div class="about-image">
            <img src="/static/img/klab.jpeg" alt="О нас">
        </div>
    </div>
    <div class="team">
        <h2>Наша команда</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="/static/img/ceo.png" alt="Сотрудник 1">
                <h3>Хайрулина Лаура</h3>
                <p>Директор</p>
            </div>
            
            <div class="team-member">
                <img src="/static/img/coder.png" alt="Сотрудник 2">
                <h3>Кусанов Нурхан</h3>
                <p>Разработчик</p>
            </div>
            <div class="team-member">
                <img src="/static/img/designer.png" alt="Сотрудник 3">
                <h3>Хайрулина Айгерим</h3>
                <p>Дизайнер</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
