{% extends 'base.html' %}

{% block section %}
<section id="home">
    <h1>Приложение голосового ассистента - АИША</h1>
    <p>
        Этот голосовой ассистент разработан для оказания различных услуг, таких как получение времени, погоды, поиска информации и простые вопросы. Функционал ограничен, но разработчик данного приложения намеревается доработать его до совершенства.
    </p>
    <p>
        Для скачивания приложения, просто нажмите на ссылку ниже.
    </p>
    <p>
        <a href="https://drive.google.com/file/d/15RNHhRwYqhZ6QMi8_0MLJHxoXV7r03oJ/view?usp=drive_link"> 
            <img src="static/img/download.png" width="300px" height="150px" class="tg-logo">
        </a>
    </p>
    <h2>Что нужно учесть перед использованием приложения?</h2>
    <ul>
        <li>Убедитесь в том, что у вас включен миркофон</li>
        <li>Убедитесь в том, что у вас имеется свободный доступ к интернету</li>
        <li>Перед тем, как назвать команду, не забудьте активировать миркофон нажав кнопку</li>
        <li>Чтобы сделать поиск информации начните со слова "Поиск"</li>
    </ul>
</section>

{% endblock %}