{% extends 'base.html' %}

{% block section %}
<section id="home">
    <img src="/static/img/Лого_header.png" alt="Упс..." class="logo_index">
    <div class="rectangle">Привет, чем могу помочь?</div>
    <p class="main_text">№1 Голосовой ассисент
        в мире - Аиша</p>
    <p class="short_text">Личный помощник, который всегда рядом.
        Задавайте вопросы, поручайте дела и просто общайтесь.</p>

    <img src="static/img/fon.png" alt="Ooops..." class="fon2" height="550px" width="1200px">
    
    <div class="gallery">
        <div class="row">
            <div class="image-container">
                <img src="static/img/gallery1.png" alt="Изображение 1" class="gallery-image">
                <span class="image-caption">
                    <h4>Слышит Вас</h4>
                    <p>Управляйте сотнями функций с помощью голоса. Прокладывайте маршруты, звоните, отправляйте сообщения, заказывайте такси и много-много-много чего еще. Просто говорите!</p>
                </span>
            </div>
            <div class="image-container">
                <img src="static/img/gallery2.png" alt="Изображение 2" class="gallery-image">
                <span class="image-caption">
                    <h4>Понимает Вас</h4>
                    <p>Даже сложные фразы на русском. Поддерживает контекст. Говорите, как Вы привыкли.</p>
                </span>
            </div>
            <div class="image-container">
                <img src="static/img/gallery3.png" alt="Изображение 3" class="gallery-image">
                <span class="image-caption">
                    <h4>Много настроек</h4>
                    <p>Настройте все для себя. Каждая функция - от напоминаний до курсов валют - все настраивается очень гибко, чтобы Вам было удобно.</p>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="image-container">
                <img src="static/img/gallery4.png" alt="Изображение 4" class="gallery-image">
                <span class="image-caption">
                    <h4>Не прикасаясь к экрану</h4>
                    <p>В машине или на улице, в офисе или дома - Вы можете отдавать приказы своему ассистенту, не нажимая на кнопки. Дуся использует сенсоры Вашего девайса для бесконтактной работы.</p>
                </span>
            </div>
            <div class="image-container">
                <img src="static/img/gallery5.png" alt="Изображение 5" class="gallery-image">
                <span class="image-caption">
                    <h4>Автоматизируйте</h4>
                    <p>Многие функции можно выполнять даже без голосовых команд! Ассистент вовремя отправит сообщение, проложит маршрут, включит свет дома или просто озвучит входящее сообщение.</p>
                </span>
            </div>
            <div class="image-container">
                <img src="static/img/gallery6.png" alt="Изображение 6" class="gallery-image">
                <span class="image-caption">
                    <h4>Создайте</h4>
                    <p>Вы можете создавать свои собственные функции для Вашего ассистента и делиться ими с другими пользователями. Внутренний маркет пополняется каждый день!</p>
                </span>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 1400px; left: 950px; transform: translate(-50%, -50%);" class="music">
        <h1>Включи музыку для отдыха на природе</h1>
    </div>
    <img src="static/img/Лого_header.png" alt="" width="130px" height="80px" style="position: absolute; top: 1500px; left: 250px; transform: translate(-50%, -50%);">
    <div style="position: absolute; top: 1550px; left: 400px; transform: translate(-50%, -50%);" class="music_on">
        <h1>Конечно, включаю музыку!</h1>
    </div>
</section>
{% endblock %}
