{% extends 'base.html' %}

{% block section %}

<form action="" method="post" class="form-contact">
    <p><label>Имя: </label><input type="text" name="name" value="" required />
    <p><label>Возраст: </label><input type="text" name="age" value="" required />
    <p><label>Город: </label><input type="text" name="city" value="" required />
    <p><label>Почта: </label><input type="text" name="email" value="" required />
    <p><label>Пароль: </label><input type="password" name="password" value="" required />
    <p><label>Повторите пароль: </label><input type="password" name="password2" value="" required />
    <p><input type="submit" value="Регистрация">
</form>
<div class="flash">
    {% for msg in get_flashed_messages() %}
    {{msg}}
    {% endfor %}
</div>
{% endblock %}