{% extends 'base.html' %}

{% block section %}
<section id="home">
    <h1>Телеграм бот голосового ассистента "Аиша"</h1>
    <p>
        Добро пожаловать в телеграм бот голосового ассистента "Аиша"! Этот бот разработан для оказания различных услуг, таких как получение информации, напоминания, управление задачами и многое другое.
    </p>
    <p>
        Для начала работы с ботом, просто нажмите на ссылку ниже, чтобы перейти к чату с ботом:
    </p>
    <p>
        <a href="https://t.me/aisha_app_bot"> 
            <img src="static/img/logo_tg.png" width="200px" height="200px" class="tg-logo">
        </a>
    </p>
    <h2>Функции бота:</h2>
    <ul>
        <li>Получение текущих новостей</li>
        <li>Поиск информации в интернете</li>
        <li>Установка напоминаний и таймеров</li>
        <li>Поддержка естественного языка для взаимодействия с пользователем</li>
        <li>Управление списком задач и событий в календаре</li>
        <li>Распознавание и выполнение команд голосом</li>
    </ul>
    <h2>Как использовать:</h2>
    <ol>
        <li>Нажмите на ссылку выше, чтобы перейти к боту в Telegram.</li>
        <li>Начните чат с ботом и следуйте инструкциям по использованию различных функций.</li>
        <li>Воспользуйтесь помощью, если у вас возникнут вопросы или проблемы.</li>
        <li>Настройте уведомления и предпочтения в соответствии с вашими потребностями.</li>
        <li>Наслаждайтесь удобством и эффективностью использования бота для автоматизации рутинных задач!</li>
    </ol>
</section>
{% endblock %}
